In [1]:
import pandas as pd
import numpy as np

In [2]:
sf = pd.Series([1, 1, 2, 3, 3, 3])
sf

0    1
1    1
2    2
3    3
4    3
5    3
dtype: int64

In [3]:
sf.groupby(sf).filter(lambda x: x.sum() > 2)

3    3
4    3
5    3
dtype: int64

In [8]:
dff = pd.DataFrame({'A': np.arange(9), 'B': list('aaabbbbcc')})
dff.groupby('B').filter(lambda x: len(x) > 2, dropna=False)

     A    B
0  0.0    a
1  1.0    a
2  2.0    a
3  3.0    b
4  4.0    b
5  5.0    b
6  6.0    b
7  NaN  NaN
8  NaN  NaN

In [5]:
dff.groupby('B').sum()

    A
B
a   1
b  14
c  13

In [12]:
def f(x):
    return pd.Series([x, x ** 2], index=['x', 'x^2'])


def f2(group):
    return pd.DataFrame({'original': group, 'demeaned': group - group.mean()})    
df = pd.DataFrame(
    {'A': ['foo', 'bar', 'foo', 'bar',
    'foo', 'bar', 'foo', 'foo'],
    'B': ['one', 'one', 'two', 'three',
    'two', 'two', 'one', 'three'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.457972 -1.546216
1  bar    one  1.307537  1.204344
2  foo    two -1.723856  0.703128
3  bar  three  0.083924 -0.006294
4  foo    two -1.054805 -0.272432
5  bar    two  0.353600  0.360664
6  foo    one  0.393510  1.097282
7  foo  three -0.759575  0.930352

In [13]:
grouped = df.groupby('A')['C']
grouped.apply(f2)

   original  demeaned
0  0.457972  0.995323
1  1.307537  0.725850
2 -1.723856 -1.186505
3  0.083924 -0.497763
4 -1.054805 -0.517454
5  0.353600 -0.228087
6  0.393510  0.930861
7 -0.759575 -0.222224

In [14]:
s = pd.Series(np.random.rand(5))
s

0    0.312020
1    0.458268
2    0.727008
3    0.514052
4    0.738115
dtype: float64

In [15]:
s.apply(f)

          x       x^2
0  0.312020  0.097356
1  0.458268  0.210010
2  0.727008  0.528540
3  0.514052  0.264250
4  0.738115  0.544814