In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame(
    {'A': ['foo', 'bar', 'foo', 'bar',
    'foo', 'bar', 'foo', 'foo'],
    'B': ['one', 'one', 'two', 'three',
    'two', 'two', 'one', 'three'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)})
df2 = df.set_index(['A', 'B'])
df2

                  C         D
A   B
foo one    0.857315  0.627679
bar one   -1.360694 -0.253599
foo two   -1.077078  0.301817
bar three  0.197272 -0.904517
foo two    0.431501  0.995049
bar two   -1.000994 -0.769606
foo one    2.132357 -1.033205
    three -0.688782 -0.756808

In [16]:
df2.index.names.difference(['B'])

FrozenList(['A'])

In [17]:
grouped = df2.groupby(level=df2.index.names.difference(['B']))
grouped.sum()

            C         D
A
bar -2.164417 -1.927721
foo  1.655313  0.134532

In [18]:
lst = [1, 2, 3, 1, 2, 3]
s = pd.Series(data=[1, 2, 3, 10, 20, 30], index=lst)
s

1     1
2     2
3     3
1    10
2    20
3    30
dtype: int64

In [19]:
s.groupby(level=0).sum()

1    11
2    22
3    33
dtype: int64

In [22]:
# 중복된 인덱스에 대하여 첫번째 그룹만 계산
#  Compute first of group values
s.groupby(level=0).first()

1    1
2    2
3    3
dtype: int64

In [26]:
df.groupby(['A', 'B']).aggregate(np.sum).reset_index()

     A      B         C         D
0  bar    one -1.360694 -0.253599
1  bar  three  0.197272 -0.904517
2  bar    two -1.000994 -0.769606
3  foo    one  2.989672 -0.405526
4  foo  three -0.688782 -0.756808
5  foo    two -0.645577  1.296866

In [25]:
df.groupby(['A', 'B'], as_index=False).aggregate(np.sum)

     A      B         C         D
0  bar    one -1.360694 -0.253599
1  bar  three  0.197272 -0.904517
2  bar    two -1.000994 -0.769606
3  foo    one  2.989672 -0.405526
4  foo  three -0.688782 -0.756808
5  foo    two -0.645577  1.296866

In [28]:
# A 그룹바이 에서 C 컬럼에 대한 집계 실행
df.groupby('A')['C'].agg([np.sum, np.mean, np.std])

          sum      mean       std
A
bar -2.164417 -0.721472  0.815729
foo  1.655313  0.331063  1.280101

In [29]:
df.groupby('A').agg([np.sum, np.mean, np.std])

            C                             D
          sum      mean       std       sum      mean       std
A
bar -2.164417 -0.721472  0.815729 -1.927721 -0.642574  0.343550
foo  1.655313  0.331063  1.280101  0.134532  0.026906  0.882021